<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'store_custom/styles.css' %}" />
  </head>
  <body>
    <div class="home-page">
      <img src="{% static 'store_custom/store-logo.png' %}" alt="Logo" class="logo" />
    </div>
  </body>
</html>

<!--
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Store Front - Home</title>
    <link rel="stylesheet" href="{% static 'store_custom/styles.css' %}">
</head>
<body>
<h1>Welcome to Store Front</h1>
<div class="home-page"></div>
<img src="{% static 'store_custom/logo.svg' %}" alt="LOGO" class="logo">
</body>
</html>
-->
<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--   -->
<!--    <title>Store Front - Home</title>-->
<!--    <link rel="stylesheet" href="{% static 'store_custom/styles.css' %}">-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->